#feedback-form-wrapper #floating-icon > button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translate(50%, -50%);
    transform-origin: right;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"] {
    display: none;
}
#feedback-form-wrapper .rating-input-wrapper input[type="radio"] ~ span {
    cursor: pointer;
}
#feedback-form-wrapper .rating-input-wrapper input[type="radio"]:checked ~ span {
    background-color: #4261dc;
    color: #fff;
}
#feedback-form-wrapper .rating-labels > label {
    font-size: 14px;
    color: #777;
}
