.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em .5em 1em;
    padding: .2em 1em;
    border: 2px solid #00a0d2
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
    display: none
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-color: #dc3232
}

.wpcf7 form.spam .wpcf7-response-output {
    border-color: #f56e28
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #ffb900
}

.wpcf7-form-control-wrap {
    position: relative
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 1em;
    font-weight: 400;
    display: block
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
    position: relative;
    top: -2ex;
    left: 1em;
    z-index: 100;
    border: 1px solid #dc3232;
    background: #fff;
    padding: .2em .8em;
    width: 24em
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
    content: " "
}

.wpcf7-spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    opacity: .75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative
}

form.submitting .wpcf7-spinner {
    visibility: visible
}

.wpcf7-spinner::before {
    content: '';
    position: absolute;
    background-color: #fbfbfc;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

@media (prefers-reduced-motion:reduce) {
    .wpcf7-spinner::before {
        animation-name: blink;
        animation-duration: 2000ms
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes blink {
    from {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.wpcf7 [inert] {
    opacity: .5
}

.wpcf7 input[type="file"] {
    cursor: pointer
}

.wpcf7 input[type="file"]:disabled {
    cursor: default
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: ltr
}

.wpcf7-reflection>output {
    display: list-item;
    list-style: none
}

.wpcf7-reflection>output[hidden] {
    display: none
}

/*!
Theme Name: Cream Magazine
Theme URI: https://themebeez.com/themes/cream-magazine/
Author: themebeez
Author URI: https://themebeez.com/
Description: Cream Magazine is a news & magazine WordPress theme with a clean & modern design suitable for everyone who wish to share their stories, publish a breaking daily news or write on different topics. Everything in Cream Magazine is very easy to deal with, after assigning a front-page one can fully get started to build a website though WordPress Live Customizer.Cream magazine is build taking SEO, Speed & Responsive in mind. Build-in features like lazy load for images has been implemented to make cream mag load faster & extra library files have been bundled to minimize  HTTP requests. For more information go to https://themebeez.com/themes/cream-magazine/
Version: 2.1.6
Requires PHP: 5.6
Tested up to: 6.2.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cream-magazine
Tags: custom-background, custom-header, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, one-column, two-columns, blog, news, right-sidebar, theme-options, footer-widgets, left-sidebar, grid-layout, rtl-language-support


This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Cream Magazine WordPress Theme, Copyright (C) 2023, themebeez.
Cream Magazine is distributed under the terms of the GNU GPL

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
.box-check-spell {
    display: flex;
    flex-direction: column;
    padding: 20px
}

.content-box-check-spell {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 5px
}

.textarea-check-spell {
    border-radius: 8px;
    padding: 1rem 1.5rem;
    border: 1px solid #abb8c3;
    resize: none;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
    height: 100px
}

.textarea-check-spell:focus {
    border: 1px solid #42505c;
    outline: none;
    box-shadow: none
}

.fix-spell {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid #abb8c3
}

.button-check-spell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem
}

.fix-spell .noti {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    color: #abb8c3;
    margin: 0 !important
}

@media screen and (min-width:768px) {
    .content-box-check-spell {
       flex-direction: row;
    }

    .fix-spell {
        min-width: 350px;
        max-width: 200px;
        height: 500px
    }

    .textarea-check-spell {
        height: 500px
    }
}

.container-check-spell {
    border: 1px solid #abb8c3;
    border-radius: 10px;
    position: relative;
    margin-top: 15px
}

.text-check-spell {
    display: flex;
    justify-content: center;
    width: max-content;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
    position: relative
}

.loader {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none
}

.ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000
}

.ball:nth-child(1) {
    animation: bounce-1 1.1s ease-in-out infinite
}

@keyframes bounce-1 {
    50% {
        transform: translateY(-18px)
    }
}

.ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite
}

@keyframes bounce-2 {
    50% {
        transform: translateY(-18px)
    }
}

.ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite
}

@keyframes bounce-3 {
    50% {
        transform: translateY(-18px)
    }
}

.follow-box {
    padding: 6px 10px;
    border-radius: 25px;
    background-color: #f0f0f0;
    width: max-content;
    margin: 6px 0
}

.follow-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px
}

.follow-title {
    font-weight: 400;
    font-size: 11px;
    margin: 0 !important
}

.follow-image {
    object-fit: cover;
    height: 16px;
    width: 80px;
    object-fit: contain
}

search .header-search-container {
    width: 100%
}

.custom-logo {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px
}